@font-face {
  font-family: 'paralucent';
  /*a name to be used later*/
  src: url(../fonts/Paralucent/Paralucent-Light.ttf);
  /*URL to font*/
}

@font-face {
  font-family: 'Swear-display';
  /*a name to be used later*/
  font-weight: italic;
  src: url(../fonts/Swear-display/Swear-Display-Thin-Italic.otf) format("opentype");
  /*URL to font*/
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 1.7em;
  background: #E4E4E4;
  transition: all 0.2s ease-in-out;
}


h1,
h2 {
  font-weight: 300;
  line-height: 0.95em;
}

h1 {
  font-size: 2em;
}

h2,
.herotext {
  font-size: 3em;
}

@media (min-width: 992px) {

  h2,
  .herotext {
    font-size: 4em;
  }
}

@media (min-width: 1200px) {

  h2,
  .herotext {
    font-size: 5em;
  }
}

  /* .container {
    background-color: #E4E4E4;
  } */

  .tempbox {
    background-color: red;
    color: white;
  }

  section.sectionBg.gradient-red {
    background: #FE5B7A;
    background: linear-gradient(0deg, rgba(228, 228, 228, 0) 0%, #fe5b7a 100%);
    /* background: linear-gradient(0deg, rgba(228, 228, 228, 0) 0%, #b7fe5b 100%); */

    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 90%); */
  }

  .pageHeaderCon {
    min-height: 780px;
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .neu {

    background-image: url('../images/circle_white.svg');
    background-size: 100% 95%;
    background-position-y: bottom;
    /* background-position: 25% 75%; */
    background-repeat: no-repeat;
    align-items: center;
    /* position: absolute; */
    /* width: 120%;

  height: 140%; */
    /* top: -10%;
  left: -100%; */
    font-family: 'Swear-display', serif;
    font-size: 1em;

  }


  h2 .herotext .neu {

    font-weight: 300;
    font-style: italic;
    position: relative;

    display: inline-block;
    z-index: -1;
  }

  .pageHeaderContent p{
    margin-top: 10%;
  }

.cta{

  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  align-items: center;
}
.cta h1{
  /* font-family: 'Swear-display', serif; */
  font-size: 2em;
  font-style: bold;
}
.cta img{
  width: 48px;
  height: 20px;

  
}


.cta:hover{
  color: #FE5B7A;

}
.cta:hover img{
  
    width: 88px;
    height: 40px;
    content: url('../images/arrow-pink.svg');
}


  .pageHeaderCon {
    min-height: 780px;
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  /* h2 span:before, .hometitle .neu:before {
    content: " ";
    
    width: 120%;
    height: 140%;
    top: -10%;
    left: -10%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  } */

  .bgimgage {
    width: 40vw;
    height: 150vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    /* background-image: url('../images/NEARLY-HERO.png'); */

    background-size: auto 150%;
  }


 
  form {
    width: 24%;
    margin-top: 70px;
    padding: 50px;
  }

  .huskyImg {
    border-radius: 50%;
    margin-left: 30px;
    width: 200px;
    height: 170px
  }

  .btn-primary {
    width: 100%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0D6EFD;
    border-radius: 1px
  }

  .footerComunication {
    text-align: center;
    font-family: paralucent, sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
  }

  .footerLogo {
    width: 100px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    padding: 25px;
  }

  img {
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .column {
    flex: auto;
    text-align: center;
    display: inline;
    flex: 0 0 auto;
    width: 33.33333333%;
    max-width: 100%;
  }

  .footerContact {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
  }

  .footersocials img {
    width: 30px;
  }

  .footersocials {
    float: right;
    width: 50%;
  }

  #footerEmail {
    font-size: xx-large;
    font-weight: normal;
  }

  #footerPhone {

    font-size: xx-large;
    font-weight: lighter;
  }

  a {
    color: black;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  .footerend {
    text-align: center;
  }

  /* @font-face {
    font-family: 'paralucent'; 
    src: url(../fonts/Paralucent/Paralucent-Light.ttf); 
}
@font-face {
  font-family: 'Swear-display'; 
  font-weight: italic;
  src: url(../fonts/Swear-display/Swear-Display-Thin-Italic.otf) format("opentype");
} */


  .footerheading {
    font-size: xx-large;
  }


  .chat {
    color: blue;
    font-size: large;
  }


  .btn-outline-secondary {
    --bd-violet-bg: #FE5B7A;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #0c0c0c;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
  }
.mainintro{
background-image: url('../images/Husky-removebg.png');
background-position: right -160px top;
/* background-position-y: top; */
background-repeat: no-repeat;
background-size: 30%;
}