body{
    font-family: paralucent, sans-serif;
}
.container{
    background-color: #E4E4E4;
}
.tempbox{
    background-color: red;
    color: white;
}

body {
    /*width: 1440px;
    height: 783px;*/
    background: #FFF;
}

form{
    width: 24%;
    margin-top: 70px;
    padding: 50px;
}

.huskyImg{
    border-radius: 50%;
    margin-left: 30px;
    width: 200px; 
    height: 170px
}

.btn-primary{
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0D6EFD;
    border-radius: 1px
}
.footerComunication{
    text-align: center;
    font-family: paralucent, sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}

.footerLogo{
    width: 100px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    padding: 25px;
}
.imgfoot{
    width: 100%;
    height: auto;
    padding: 0px;
}
.column {
    flex: auto;
    text-align: center;
    display: inline;
    flex: 0 0 auto;
    width: 33.33333333%;
    max-width: 100%;
}
.footerContact{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}
.footersocials img{
width: 30px;
background-color: #E4E4E4;

}
.footersocials{
    float: right;
    width: 50%;
}
svg {width: 50px; height: auto;
padding: 10px;} 
#footerEmail {
    font-size: xx-large;
    font-weight: normal;
}

#footerPhone{
  
    font-size: xx-large;
    font-weight: lighter;
}

a{
    color: black;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  .footerend{
text-align: center;
  }
  @font-face {
    font-family: 'paralucent'; 
    src: url(../fonts/Paralucent/Paralucent-Light.ttf); 
}
@font-face {
  font-family: 'Swear-display'; 
  font-weight: italic;
  src: url(../fonts/Swear-display/Swear-Display-Thin-Italic.otf) format("opentype");
}
.footerheading{
font-size: 60px;
}
.chat{
color: blue;
font-size: 30px;
}